@import "custom";
@import "bootstrap/scss/bootstrap";

body{
    background-color: #ffefef;
    p,h1,h2,h3,h4,h5,h6{
        font-family: 'Poppins';
        color: #000000;
    }
}

.navbar{
    background-color: #ffefef;
    border-bottom: 1px solid black;
    &-container{
        margin-left: 98px;
    }
    &-list {
        ul{
            li{
                a{
                    font-family: 'Poppins', sans-serif;
                    font-weight: bold;
                    font-size: 14px;
                    text-decoration: none;

                }
            }
        }
    }
    &-btn{
        button{
            width: 90px;    
        }
        button:hover{
            background-color: red;
            cursor: pointer;
            }
        a{
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            font-size: 14px;
            text-decoration: none;
        }
    }
}

footer{
    p{
        margin-top: 18px;
    }
}

.hero{
    margin-top: 50px;
    &-title{
        // margin-top: 40px;
        h1{
            font-size: 48px;
            letter-spacing: 5px;
            font-weight: 900;
            // font-weight: bolder;
        }
        p{
            margin-top: 50px;
            width: 66%;
        }
    }
    &-btn{
        button{
            width: 245px;
            height: 50px;
            border-radius: 90px;
            margin: 50px 0 100px 0;
            h6{
                letter-spacing: 2px;
                margin-top: 7px;
                font-size: 16px;
                font-weight: 700;
                color: #ffffff;
            }
        }
    }
}